.title{
    text-align: center;
    background-color: #FFF;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
 }
#header {
    margin: 0;
    
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 98%;
    font-size: 20px;
    margin:0px;
    text-align: justify;
    padding: 10px  10px;
    text-align:justify;
    background-color:#FFF;
}

.menu li a{
    background-color: #005883;
    text-decoration: none;
    padding: 10px  12px;
    display: block;
    margin: 0px;
    width: 8em;
    font-size: 30px;
}
.menu li a:hover{
    background-color:#434343;
}
.menu > li {
    float: left;
}
ul,ol{
    list-style: none;
}

.menu li:hover >ul {
    display: block;
}
.menu li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.menu li ul li ul {
    right: -140px;
    top: 0px;
}

.tabla{
    
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    background-color:#FFF;
    width: 98%;
    font-size: 20px;
    margin: 15px;
    
}
footer{
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
    font-size: 18px;

}